<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {%csrf_token%}
        <label for="title" >Title</label><br>
        <input type="text" name="title" placeholder="Title" id=""><br>
        <label for="des">Description</label><br>
        <textarea id="des" name="des" rows="4" cols="50"></textarea><br>
        <input type="submit" value="submit"><br>
    </form>
</body>
</html>